* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Se crean los colores como varibles para que sea mas facil realizar los cambios esteticos */
:root{
    --color_background_body:#a5727228;
    --color_background_header:#793b3ba9; 
    --color_background_main:#7a50506c;
    --color_background_footer:#793b3ba9;
}

body {
	background: var(--color_background_body);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}



header {
    background: var(--color_background_header);
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

/* Sección del logo */
.logo{
    display: flex;
    /* Quiero que la imagen y el texto del logo se alineen centralmente entre ellos */
    align-items: center;
}
.logo img{
    width: 6rem;
}

.logo h1{
    font-size: 2.5rem;
}

/* Sección de la barra de navegación */
nav{
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding-right: 2rem;
    font-size: 1.2rem;
}
/* Sección del cuerpo principal*/

main {
    background: var(--color_background_main);
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Contenedor informacion y formulario */
.contenedor{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    padding: 2rem;
    /* border: 2px solid #0000000e; */
}


/* Sección de información general */
.general {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #0000000e;
    border-radius: 8px;
}

.general h3{
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.general p{
    padding-bottom: 1rem;
}


.sociales_general{
    display: flex;
    flex-direction:row;
}

.sociales_general img{
    width: 2rem;
    margin-right: 1rem;
}


/* Seccion formulario */
.formulario{
border: 2px solid #0000000e;
border-radius: 8px;
}
.formulario h3{
    text-align: center;
    padding: 1rem;
}

.formulario form {   
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.formulario input{
    padding: 1rem;
    height: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;

}

.formulario textarea{
    width: 23rem;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    resize: none;
}

.botones{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.botones button{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    width: 6rem;
}

/* Seccion ubicacion*/

.ubicacion{
        padding-bottom: 2rem;
}
.ubicacion h3{
    text-align: center;
    padding-bottom: 1rem;

}
.ubicacion iframe{
    border: 2px solid #0000000e;
    border-radius: 8px;
    width : 80vw;
    height: 60vh;
}


/* Sección del pie de página */

footer {
    background: var(--color_background_footer);
    width: 90vw;
    margin-left: 5vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.sociales{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.sociales img{
    width: 2rem;
}
